<app-header pageTitle="Shop" iconTitle="shopping_cart" helpTitle="helpForAboutUs"></app-header>
<mat-card>
    <mat-card-actions>
        <form #searchForm="ngForm">
            <mat-form-field class="example-form">
                <input matInput type="text" placeholder="Search" #search="ngModel" ngModel name="search">
            </mat-form-field>
            <span matTooltip="Clear">
                <mat-icon color="primary" (click)="this.searchForm.reset()">clear</mat-icon>
            </span>
            <span class="small-spacer"></span>
            <span matTooltip="Search All">
                <mat-icon color="primary" (click)="getFilterData(search.value)">search</mat-icon>
            </span>
        </form>
    </mat-card-actions>
    <mat-card-content *ngIf="toggle else showProductDetails">
        <mat-list>
            <mat-list-item *ngFor="let item of members" (click)="showDetails(item);toggle!=toggle">
                <h5 mat-line>
                    {{item.name}}
                    <mat-icon mat-list-icon>pageview</mat-icon>
                </h5>
                <p class="label-hint" mat-line>{{item.catogory}} / {{item.scategory}}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <ng-template #showProductDetails>
        <b>{{myDocData.name}}</b>
        <span class="small-spacer"></span>
        <span matTooltip="Show All Products">
            <mat-icon color="primary" (click)="toggle!=toggle">backspace</mat-icon>
        </span>
        <p class="label-go" mat-line>{{myDocData.sname}} {{myDocData.lname}}</p>
        <p class="label-hint" mat-line>{{myDocData.descr}}</p>
        <p class="label-go" mat-line>Color: {{myDocData.color}} Size: {{myDocData.size}} Price: {{myDocData.price}}</p>
        <p class="label-error" mat-line>Shippoing: {{myDocData.shipping}} Discount: {{myDocData.discount}}</p>

        <mat-error *ngIf="savedChanges">
            <br/>
            <br/>
            shopping cart is updated
            <mat-icon (click)="savedChanges=!savedChanges" color="primary">close</mat-icon>
            <span class="med-spacer"></span>
            <br/>
        </mat-error>

        <br/>

        <mat-icon color="primary" (click)="countProd('remove')">remove</mat-icon>
        {{counter}}
        <mat-icon color="primary" (click)="countProd('add')">add</mat-icon>
        <span class="med-spacer"></span>
        <button [disabled]="counter < 1" mat-raised-button color="primary" (click)="addToCart(myDocData, counter)">Add to Cart</button>
        <br/>
        <img [src]="profileUrl | async" width="300" height="300"> 
    </ng-template>
    
</mat-card>