<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="container p-4">
  <div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="employeeName"  placeholder="enter name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Employee Age</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="enter age">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Employee Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="employeeAddrress" placeholder="enter address">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" (click)="create()" [disabled]="!employeeName || !employeeAddrress || !employeeAge" class="btn btn-primary">Add</button>
        </div>
    </div>
  </div>
</div>

<div class="container pd-4">
 <div class="col-8 mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Age</th>
        <th scope="col">Employee Address</th>
        <th scope="col">Control</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employee">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.address}}</td>
        <td>
          <span class="btn btn-primary btn-sm" [routerLink]="['/update',item]">edit</span>
          <span class="btn btn-danger btn-sm ml-2" (click)="delete(item.id)">delete</span>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</div>

<div class="container p-4">
  <router-outlet></router-outlet>
</div>
