/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Jaldi', sans-serif;
    background-image: url(./assets/images/pexels-tembela-bohle-2803158.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.layer{
    background-color: rgba(100, 185, 196);
    background: linear-gradient(135deg,rgba(100,185,196,0.2) 0%,rgba(139, 155, 212, 0.8) 100%);
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app-row{
    background-color: #fff;
}